extend layout

block main
    // Wrap all page content here
    #wrap
      // Fixed navbar
      
      // Begin page content
      .container
        .page-header
          h1 README.md
        include:md ../README.md