 
extend ./layout

block main
    if(req.isAuthenticated())
        #main.container
            h1 My name: 
            input#my-name.form-control(type="text" value=user.username)
            button#update-name Update
            h1 Users online
            div
                select#users-list
                div
                    button#private-msg-button.btn.btn-primary Send private message to selected user
                #convos
            h1 Chat rooms
            div
                select#rooms-list
                div
                    button#join-room.btn.btn-primary Join selected room
                    button#new-room.btn.btn-primary Start a new room
                #rooms
        div#disconnect(style="display:none") Waiting for reconnect...
    else
        #main.container
            p Vous devez être authentifié pour voir cette page