 
extend ./layout

block main
    if(req.isAuthenticated())
        #main.container
            div
                | My name: <input type="text" id="my-name"> <button id="update-name">Update</button>
            h1 Users online
            div
                | <select id="users-list" size="5"></select>
                | <button id="private-msg-button">Send private message to selected user</button>
                | <div id="convos"></div>
            h1 Chat rooms
            div
                | <select id="rooms-list" size="5"></select>
                | <button id="join-room">Join selected room</button>
                | <button id="new-room">Start a new room</button>
                | <div id="rooms"></div>
        div#disconnect(style="display:none") Waiting for reconnect...
    else
        #main.container
            p Vous devez être authentifié pour voir cette page