- var url=req.originalUrl
- var tocEntries = sails.config.toc.getTocEntries(req, res);
if(url != '/')
    .navbar.navbar-default(role="navigation")
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') Backyard template
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              for i in tocEntries
                li(class=((url==i.url)?'active':''))
                  a(href=i.url)=i.name
                