extend layout

block main
    #wrap
      .container
        .page-header
          h1 Testing
        h2 locals
        div
          p 
            = 'locals function source ::: '+res.locals
          for local in res.locals
            p 
              = local
          p
            = title
            
        h2 Connexion
        div
          if(!req.isAuthenticated())
            p Non connecté
          else
            p Connecté comme 
              span
                = req.user.username
                
        h2 
          | Users and connected state (only if connected)
        div
          #usersListConnected